nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50rem;

  // padding: 2rem 2rem;
  img {
    width: 120px;
    height: auto;
  }
}
.btn {
  cursor: pointer;
  background: #121b27;
  color: #fcfcfc;
  border-radius: 10px;
  padding: 10px 15px;
  border: 2px solid rgb(226, 171, 206);
}
@media screen and (max-width: 1115px) {
  nav {
    gap: 40rem;
  }
}
@media screen and (max-width: 950px) {
  nav {
    gap: 30rem;
  }
}
@media screen and (max-width: 800px) {
  nav {
    gap: 20rem;
  }
}
@media screen and (max-width: 650px) {
  nav {
    gap: 10rem;
  }
}
@media screen and (max-width: 450px) {
  nav {
    gap: 1rem;
    .btn {
      padding: 7px 10px;
    }
  }
}
