nav {
  //   background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.btn {
  cursor: pointer;
  background: #121b27;
  color: #fcfcfc;
  border-radius: 10px;
  padding: 10px 15px;
  border: 2px solid linear-gradient(92.7deg, #5404ff 7.9%, #ba2ad1 88.1%);
}
